
<section id="projectList">
    <div class="container">
        <h1>Architecture Is A Visual Art &<br /> The Building Speak For Themeselves</h1>

        <div class="galleryGrid">

            <div class="filtersList">
                <ul>
                    <li>All</li>
                    <li>Building</li>
                    <li>Villa</li>
                    <li>Interior</li>
                    <li>Exterior</li>
                </ul>
            </div>

            <div class="filtersContent">
                <ul>
                    <li class="all building exterior">
                        <a href="#" class="details">
                            <h4>ComMercial Project</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </a>
                        <img src="assets/images/innerProject1.jpg" alt="Inner Project 1" />
                    </li>

                    <li class="all villa">
                        <a href="#" class="details">
                            <h4>ComMercial Project</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </a>
                        <img src="assets/images/innerProject2.jpg" alt="Inner Project 1" />
                    </li>

                    <li class="all interior">
                        <a href="#" class="details">
                            <h4>ComMercial Project</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </a>
                        <img src="assets/images/innerProject3.jpg" alt="Inner Project 1" />
                    </li>

                    <li class="all exterior">
                        <a href="#" class="details">
                            <h4>ComMercial Project</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </a>
                        <img src="assets/images/innerProject4.jpg" alt="Inner Project 1" />
                    </li>

                    <li class="all building interior">
                        <a href="#" class="details">
                            <h4>ComMercial Project</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </a>
                        <img src="assets/images/innerProject5.jpg" alt="Inner Project 1" />
                    </li>

                    <li class="all building villa">
                        <a href="#" class="details">
                            <h4>ComMercial Project</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </a>
                        <img src="assets/images/innerProject6.jpg" alt="Inner Project 1" />
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
