

<section class="pagepiling">

    <!--Banner-->
    <section id="home" class="section section-1">

        <div class="details">
            <h5>Welcome To</h5>
            <h4>ThougTs AligneD</h4>
            <h1><span>Imagining</span> is key to <br />more creative</h1>
        </div>
    </section>

    <!--Specialization-->
    <section id="ourSpecialization" class="section section-2">
        <div class="container">
            <div class="top">
                <h5>Our Specialization</h5>
                <h3>OUR MISSION IS DESIGN & DEVELOP <br />THE BEST INTERIOR AROUND</h3>
            </div>

            <div class="bottom">
                <div class="left">
                    <ul>
                        <li>01. HOME DESIGN</li>
                        <li>02. COMMERCIAL DESIGN</li>
                        <li>03. LANDSCAPE</li>
                        <li>04. GARDEN & OUTDOOR</li>
                        <li>05. CONSULTAN</li>
                    </ul>
                </div>
                <div class="right">
                    <img src="assets/images/specialization.png" alt="Specialization" />
                </div>
            </div>
        </div>
    </section>

    <!--Projects-->
    <section id="projects" class="section section-3">
        <div class="container">
            <div class="top">
                <h3>Creating beautiful spaces <br />for a better world</h3>
                <h5>Our Projects</h5>
            </div>
            <div class="bottom">
                <ul>
                    <div class="left">
                        <li>
                            <a href="#" class="details">
                                <h4>ComMercial Project</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </a>
                            <img src="assets/images/project1.jpg" alt="Project" />
                        </li>

                        <li>
                            <a href="#" class="details">
                                <h4>ComMercial Project</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </a>
                            <img src="assets/images/project4.jpg" alt="Project" />
                        </li>

                        <li>
                            <a href="#" class="details">
                                <h4>ComMercial Project</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </a>
                            <img src="assets/images/project2.jpg" alt="Project" />
                        </li>
                    </div>

                    <div class="center">
                        <li>
                            <a href="#" class="details">
                                <h4>ComMercial Project</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </a>
                            <img src="assets/images/project3.jpg" alt="Project" />
                        </li>
                    </div>

                    <div class="right">
                        <li>
                            <a href="#" class="details">
                                <h4>ComMercial Project</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </a>
                            <img src="assets/images/project4.jpg" alt="Project" />
                        </li>

                        <li>
                            <a href="#" class="details">
                                <h4>ComMercial Project</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </a>
                            <img src="assets/images/project5.jpg" alt="Project" />
                        </li>

                        <li>
                            <a href="#">View All Projects >></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </section>

    <!--Team-->
    <section id="ourTeam" class="section section-4">
        <div class="container">
            <div class="top">
                <h5>People Behine us</h5>
                <h3>We specialize in creating functional & aesthetically <br />captivating living spaces that
                    reflect
                    your unique style</h3>
            </div>
            <div class="bottom">
                <div class="item">
                    <div class="imageBlock">
                        <img src="assets/images/team1.jpg" alt="Team Member" />
                    </div>
                    <div class="teamDetail">
                        <div class="left">
                            <h3>John Smith</h3>
                            <h5>Lead Architect</h5>
                        </div>
                        <div class="right">
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-385.000000, -7399.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="facebook-_x5B__x23_176_x5D_" class="st0"
                                                            d="M343.8,7264v-11.2h3.4l0.6-5h-4v-2.4c0-1.3,0-2.6,1.8-2.6h1.8v-3.6 c0-0.1-1.6-0.2-3.1-0.2c-3.3, 0-5.4, 2.1-5.4, 5.9v2.9h-3.7v5h3.7v11.2H343.8z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-60.000000, -7521.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="twitter-_x5B__x23_154_x5D_" class="st0"
                                                            d="M11.9,7383.5c9.4,0,14.6-7.7,14.6-14.4c0-0.2,0-0.4,0-0.7 c1-0.7, 1.9-1.6, 2.6-2.6c-0.9, 0.4-1.9, 0.7-2.9, 0.8c1.1-0.6, 1.9-1.6, 2.3-2.8c-1, 0.6-2.1, 1-3.3, 1.2c-1.9-2-5.2-2.1-7.3-0.2 c-1.3, 1.2-1.9, 3.1-1.5, 4.8c-4.1-0.2-8-2.1-10.6-5.3c-1.4, 2.3-0.7, 5.3, 1.6, 6.7c-0.8, 0-1.6-0.2-2.3-0.6v0.1c0, 2.4, 1.7, 4.5, 4.1, 4.9 c-0.8, 0.2-1.5, 0.2-2.3, 0.1c0.7, 2.1, 2.6, 3.5, 4.8, 3.5c-1.8, 1.4-4.1, 2.2-6.4, 2.2c-0.4, 0-0.8, 0-1.2-0.1 C6.3, 7382.7, 9.1, 7383.5, 11.9, 7383.5" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-180.000000, -7479.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="linkedin-_x5B__x23_161_x5D_" class="st0"
                                                            d="M149,7344h-5v-8.7c0-2.4-1.1-3.7-3-3.7c-2.1,0-3.3,1.4-3.3,3.7v8.7h-5 v-16.2h5v1.8c0, 0, 1.6-2.8, 5.1-2.8c3.5, 0, 6.1, 2.2, 6.1, 6.6V7344L149, 7344z M127.1, 7325.2c-1.7, 0-3.1-1.4-3.1-3.1 c0-1.7, 1.4-3.1, 3.1-3.1c1.7, 0, 3.1, 1.4, 3.1, 3.1C130.1, 7323.8, 128.7, 7325.2, 127.1, 7325.2L127.1, 7325.2z M124, 7344h6.2v-16.2H124 V7344z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="imageBlock">
                        <img src="assets/images/team2.jpg" alt="Team Member" />
                    </div>
                    <div class="teamDetail">
                        <div class="left">
                            <h3>John Smith</h3>
                            <h5>Lead Architect</h5>
                        </div>
                        <div class="right">
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-385.000000, -7399.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="facebook-_x5B__x23_176_x5D_" class="st0"
                                                            d="M343.8,7264v-11.2h3.4l0.6-5h-4v-2.4c0-1.3,0-2.6,1.8-2.6h1.8v-3.6 c0-0.1-1.6-0.2-3.1-0.2c-3.3, 0-5.4, 2.1-5.4, 5.9v2.9h-3.7v5h3.7v11.2H343.8z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-60.000000, -7521.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="twitter-_x5B__x23_154_x5D_" class="st0"
                                                            d="M11.9,7383.5c9.4,0,14.6-7.7,14.6-14.4c0-0.2,0-0.4,0-0.7 c1-0.7, 1.9-1.6, 2.6-2.6c-0.9, 0.4-1.9, 0.7-2.9, 0.8c1.1-0.6, 1.9-1.6, 2.3-2.8c-1, 0.6-2.1, 1-3.3, 1.2c-1.9-2-5.2-2.1-7.3-0.2 c-1.3, 1.2-1.9, 3.1-1.5, 4.8c-4.1-0.2-8-2.1-10.6-5.3c-1.4, 2.3-0.7, 5.3, 1.6, 6.7c-0.8, 0-1.6-0.2-2.3-0.6v0.1c0, 2.4, 1.7, 4.5, 4.1, 4.9 c-0.8, 0.2-1.5, 0.2-2.3, 0.1c0.7, 2.1, 2.6, 3.5, 4.8, 3.5c-1.8, 1.4-4.1, 2.2-6.4, 2.2c-0.4, 0-0.8, 0-1.2-0.1 C6.3, 7382.7, 9.1, 7383.5, 11.9, 7383.5" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-180.000000, -7479.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="linkedin-_x5B__x23_161_x5D_" class="st0"
                                                            d="M149,7344h-5v-8.7c0-2.4-1.1-3.7-3-3.7c-2.1,0-3.3,1.4-3.3,3.7v8.7h-5 v-16.2h5v1.8c0, 0, 1.6-2.8, 5.1-2.8c3.5, 0, 6.1, 2.2, 6.1, 6.6V7344L149, 7344z M127.1, 7325.2c-1.7, 0-3.1-1.4-3.1-3.1 c0-1.7, 1.4-3.1, 3.1-3.1c1.7, 0, 3.1, 1.4, 3.1, 3.1C130.1, 7323.8, 128.7, 7325.2, 127.1, 7325.2L127.1, 7325.2z M124, 7344h6.2v-16.2H124 V7344z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="imageBlock">
                        <img src="assets/images/team3.jpg" alt="Team Member" />
                    </div>
                    <div class="teamDetail">
                        <div class="left">
                            <h3>John Smith</h3>
                            <h5>Lead Architect</h5>
                        </div>
                        <div class="right">
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-385.000000, -7399.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="facebook-_x5B__x23_176_x5D_" class="st0"
                                                            d="M343.8,7264v-11.2h3.4l0.6-5h-4v-2.4c0-1.3,0-2.6,1.8-2.6h1.8v-3.6 c0-0.1-1.6-0.2-3.1-0.2c-3.3, 0-5.4, 2.1-5.4, 5.9v2.9h-3.7v5h3.7v11.2H343.8z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-60.000000, -7521.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="twitter-_x5B__x23_154_x5D_" class="st0"
                                                            d="M11.9,7383.5c9.4,0,14.6-7.7,14.6-14.4c0-0.2,0-0.4,0-0.7 c1-0.7, 1.9-1.6, 2.6-2.6c-0.9, 0.4-1.9, 0.7-2.9, 0.8c1.1-0.6, 1.9-1.6, 2.3-2.8c-1, 0.6-2.1, 1-3.3, 1.2c-1.9-2-5.2-2.1-7.3-0.2 c-1.3, 1.2-1.9, 3.1-1.5, 4.8c-4.1-0.2-8-2.1-10.6-5.3c-1.4, 2.3-0.7, 5.3, 1.6, 6.7c-0.8, 0-1.6-0.2-2.3-0.6v0.1c0, 2.4, 1.7, 4.5, 4.1, 4.9 c-0.8, 0.2-1.5, 0.2-2.3, 0.1c0.7, 2.1, 2.6, 3.5, 4.8, 3.5c-1.8, 1.4-4.1, 2.2-6.4, 2.2c-0.4, 0-0.8, 0-1.2-0.1 C6.3, 7382.7, 9.1, 7383.5, 11.9, 7383.5" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;"
                                            xml:space="preserve">
                                            <g id="Page-1">
                                                <g id="Dribbble-Light-Preview"
                                                    transform="translate(-180.000000, -7479.000000)">
                                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                                        <path id="linkedin-_x5B__x23_161_x5D_" class="st0"
                                                            d="M149,7344h-5v-8.7c0-2.4-1.1-3.7-3-3.7c-2.1,0-3.3,1.4-3.3,3.7v8.7h-5 v-16.2h5v1.8c0, 0, 1.6-2.8, 5.1-2.8c3.5, 0, 6.1, 2.2, 6.1, 6.6V7344L149, 7344z M127.1, 7325.2c-1.7, 0-3.1-1.4-3.1-3.1 c0-1.7, 1.4-3.1, 3.1-3.1c1.7, 0, 3.1, 1.4, 3.1, 3.1C130.1, 7323.8, 128.7, 7325.2, 127.1, 7325.2L127.1, 7325.2z M124, 7344h6.2v-16.2H124 V7344z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Testimonials-->
    <section id="testimonials" class="section section-5">
        <div class="container">
            <div class="left">

                <div class="icon">
                    <svg version="1.1" id="Layer_1" xmlns:serif="http://www.serif.com/"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                        <g id="Icons1" serif:id="Icons">
                            <g id="Strike">
                            </g>
                            <g id="H1">
                            </g>
                            <g id="H2">
                            </g>
                            <g id="H3">
                            </g>
                            <g id="list-ul">
                            </g>
                            <g id="hamburger-1">
                            </g>
                            <g id="hamburger-2">
                            </g>
                            <g id="list-ol">
                            </g>
                            <g id="list-task">
                            </g>
                            <path id="quote-1" d="M12,0v5c-1.6,0.1-2.8,0.4-3.6,0.9C7.5,6.4,7,7.2,6.6,8.3C6.3,9.4,6.1,11,6.1,13H12v17H0V13.6
    C0,8.9,1,5.5,3,3.3C5.1,1.1,8,0,12,0L12,0z M30,0v5c-1.6,0.1-2.8,0.4-3.6,0.8c-0.8,0.5-1.4,1.3-1.8,2.4c-0.4,1.1-0.5,2.7-0.5,4.8
    H30v17H18V13.6c0-4.7,1-8.2,3-10.4C23,1.1,26,0,30,0L30,0z" />
                            <g id="trash">
                            </g>
                            <g id="vertical-menu">
                            </g>
                            <g id="horizontal-menu">
                            </g>
                            <g id="sidebar-2">
                            </g>
                            <g id="Pen">
                            </g>
                            <g id="Pen1" serif:id="Pen">
                            </g>
                            <g id="clock">
                            </g>
                            <g id="external-link">
                            </g>
                            <g id="hr">
                            </g>
                            <g id="info">
                            </g>
                            <g id="warning">
                            </g>
                            <g id="plus-circle">
                            </g>
                            <g id="minus-circle">
                            </g>
                            <g id="vue">
                            </g>
                            <g id="cog">
                            </g>
                            <g id="logo">
                            </g>
                            <g id="radio-check">
                            </g>
                            <g id="eye-slash">
                            </g>
                            <g id="eye">
                            </g>
                            <g id="toggle-off">
                            </g>
                            <g id="shredder">
                            </g>
                            <g id="spinner--loading--dots-" serif:id="spinner [loading, dots]">
                            </g>
                            <g id="react">
                            </g>
                            <g id="check-selected">
                            </g>
                            <g id="turn-off">
                            </g>
                            <g id="code-block">
                            </g>
                            <g id="user">
                            </g>
                            <g id="coffee-bean">
                            </g>
                            <g id="coffee-beans">
                                <g id="coffee-bean1" serif:id="coffee-bean">
                                </g>
                            </g>
                            <g id="coffee-bean-filled">
                            </g>
                            <g id="coffee-beans-filled">
                                <g id="coffee-bean2" serif:id="coffee-bean">
                                </g>
                            </g>
                            <g id="clipboard">
                            </g>
                            <g id="clipboard-paste">
                            </g>
                            <g id="clipboard-copy">
                            </g>
                            <g id="Layer1">
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="head">
                    CREATIVE & DEDICATED IS THINGS THAT <br />BAUHAUS STUDIO BRINGS FOR YOUR HOUSE
                </div>

            </div>
            <div class="right">
                <div class="review-carousel-item">
                    <div class="text">
                        <p>“ If you are seeking an Interior designer that will understand exactly your
                            needs, and someone who will utilise their creative and technical skills in
                            parity with your taste, then Suzanne at The Bauhaus Studio is perfect.</p>
                        <p> Thank you so much for all your design and expertise."</p>
                    </div>
                    <div class="review-author">
                        <div class="author-name">David &amp; Elisa</div>
                        <i>Apartment view lake at Brooklyn</i>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<!--Footer-->
<section id="footer" class="section">
    <div class="container">
        <div class="top">
            <h3>ENJOY COFFEE WITH US</h3>

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109777.95084225052!2d76.77984988368642!3d30.702626543062078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f936ed6a2b757%3A0x898668d7061b40f0!2sPanchkula%2C%20Haryana!5e0!3m2!1sen!2sin!4v1700810054596!5m2!1sen!2sin"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="bottom">
            <div class="item">
                <h3>WRITE US</h3>

                <ul>
                    <li>
                        <strong>head office</strong>
                        hello@bauhaus.co
                    </li>

                    <li>
                        <strong>support</strong>
                        info@bauhaus.co
                    </li>
                </ul>
            </div>

            <div class="item">
                <h3>CALL US</h3>

                <ul>
                    <li>
                        <strong>HEAD OFFICE</strong>
                        (0043) 568 456 902
                    </li>

                    <li>
                        <strong>SUPPORT</strong>
                        (00232) 568 323 901
                    </li>
                </ul>
            </div>

            <div class="item">
                <h3>VISIT US</h3>

                <ul>
                    <li>
                        69 Queen St, Melbourne Australia
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

